/*----------------------------------------------------------------*\
	GRIDS
\*----------------------------------------------------------------*/

.grid {
	display: grid;
	grid-column-gap: 2%;
	grid-row-gap: 3vh;

	@media(--phone) {
		&.has-two-column {
			grid-template-columns: repeat(auto-fit, 49%);
		}
	}

	@media(--tablet) {

		&.has-four-column,
		&.has-five-column {
			grid-template-columns: repeat(auto-fit, 49%);
		}

		&.has-three-column,
		&.has-six-column {
			grid-template-columns: repeat(auto-fit, 32%);
		}
	}

	@media(--laptop) {
		&.has-four-column {
			grid-template-columns: repeat(auto-fit, 23.5%);
		}

		&.has-five-column {
			grid-template-columns: repeat(auto-fit, 18%);
		}

		&.has-six-column {
			grid-template-columns: repeat(auto-fit, 15%);
		}
	}
}