/*----------------------------------------------------------------*\
	STANDARD LISTS
\*----------------------------------------------------------------*/
ul,
ol {
	color: var(--Tertiary);
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	column-count: 1;

	@media(--tablet) {
		column-count: 2;
	}
}

ul {
	padding-left: 0;
	list-style-type: none;
}

li,
.list-item {
	line-height: 1.5;
	width: 100%;
	padding-left: 2em;
	position: relative;
	margin-bottom: 1em;

	@media(--tablet) {
		padding-left: 4em;
	}

	&:before {
		content: "";
		position: absolute;
		top: 10px;
		left: 12px;
		background-color: var(--Secondary);
		border-radius: 50%;
		width: 8px;
		height: 8px;

		@media(--tablet) {
			left: 45px;
		}
	}
}

ol {
	counter-reset: item;

	&>li {
		margin: 0;
		padding: 0 0 0 1em;
		text-indent: -1em;
		list-style-type: none;
		counter-increment: item;


		&:before {
			display: inline-block;
			padding-right: .75em;
			font-weight: 700;
			content: counter(item) ".";
			width: 0;
			height: auto;
			background-color: transparent;
			font-size: 1.2em;
			position: static;
		}
	}
}

/*----------------------------------------------------------------*\
	REMOVE BULLETS MODIFER
\*----------------------------------------------------------------*/
ul,
ol {
	&.have-no-bullets {
		list-style: none;
		padding: 0;
	}
}

/*----------------------------------------------------------------*\
	ICONS MODIFER
\*----------------------------------------------------------------*/
ul,
ol {
	&.have-icons {
		list-style: none;
		padding: 0;

		& li {
			line-height: 3;

			& svg,
			& img {
				display: inline-block;
				/* svg styling based on orion lab line icons */
				/* adjust style specific for your icon set */
				vertical-align: text-top;
				height: 1.5em;
				width: 1.5em;
				margin-right: .25em;
				stroke: var(--Black);
				fill: transparent;
				/* make icon align just right */
				position: relative;
				top: -1px;
			}
		}
	}
}

/*----------------------------------------------------------------*\
	DESCRIPTION MODIFER
\*----------------------------------------------------------------*/
ul,
ol {
	&.have-description {
		& li {
			line-height: 1;
			margin-bottom: 1em;

			& span {
				display: block;
				color: var(--Grey);
			}
		}
	}
}

/*----------------------------------------------------------------*\
	INLINE MODIFER
\*----------------------------------------------------------------*/
ul,
ol {
	&.are-inline {
		padding: 0;

		& li {
			display: inline;
			margin-right: 1em;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}