/*----------------------------------------------------------------*\
		FONTS
\*----------------------------------------------------------------*/
@font-face {
	font-family: 'Roboto Slab';
	src: url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Thin';
	src: url('../fonts/Roboto-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Light';
	src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto Bold';
	src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}

/*----------------------------------------------------------------*\
		HEADERS
\*----------------------------------------------------------------*/
h1,
h2,
h3,
h4 {
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
}

h1 {
	color: var(--PrimaryLight);
	font-size: 52px;

	@media(--laptop) {
		font-size: 64px;
	}
}

h2 {
	font-size: 26px;

	@media(--laptop) {
		font-size: 34px;
	}
}

h3 {
	font-size: 20px;

	@media(--laptop) {
		font-size: 24px;
	}
}

h4 {
	font-size: 16px;

	@media(--laptop) {
		font-size: 16px;
	}
}

/*----------------------------------------------------------------*\
		SUBHEADERS
\*----------------------------------------------------------------*/
h1.has-subheader,
h2.has-subheader,
h3.has-subheader,
h4.has-subheader {
	margin-bottom: 0;

	&+.subheader {
		margin: .5em 0;
		font-size: .875em;
		color: var(--DarkGrey);
		line-height: 1.3;
		font-family: 'Roboto Light', sans-serif;
	}
}

/*----------------------------------------------------------------*\
		HAS ICON MODIFIER
\*----------------------------------------------------------------*/
h1,
h2,
h3,
h4 {
	&.has-icon {

		& img,
		& svg {
			display: inline-block;
			/* svg styling based on orion lab line icons */
			/* adjust style specific for your icon set */
			vertical-align: text-top;
			height: 1.5em;
			width: 1.5em;
			margin-left: .25em;
			stroke: var(--Black);
			fill: transparent;
			/* make icon align just right */
			position: relative;
			top: -1px;
		}
	}
}

/*----------------------------------------------------------------*\
		BODY
\*----------------------------------------------------------------*/
hr {
	border: 0;
	height: 2px;
	width: 260px;
	margin: .875em auto;
	background-color: var(--Secondary);
}

p,
span,
time,
address {
	font-family: 'Roboto Light', sans-serif;
	font-size: 14px;
	line-height: 1.5;
	color: var(--Tertiary);

	@media(--laptop) {
		font-size: 18px;
	}
}

strong,
b {
	font-family: 'Roboto Bold', sans-serif;
}

a {
	text-decoration: none;
	color: var(--Primary);

	&:hover,
	&:focus,
	&.is-hover {
		text-decoration: underline;
	}
}

p a {
	font-size: inherit;
	text-decoration: none;
	color: var(--Primary);
	font-family: 'Roboto Bold', sans-serif;
}

p.large {
	font-size: 22px;

	@media(--laptop) {
		font-size: 28px;
	}
}

p.disclaimer {
	font-size: 12px;
}

p.is-two-column {
	column-count: 2;
	column-gap: 40px;
	column-rule: 1px solid var(--DarkGrey);
}

p.is-three-column {
	column-count: 3;
	column-gap: 40px;
	column-rule: 1px solid var(--DarkGrey);
}

p.is-four-column {
	column-count: 4;
	column-gap: 40px;
	column-rule: 1px solid var(--DarkGrey);
}

/*----------------------------------------------------------------*\
		BLOCKQUOTE
\*----------------------------------------------------------------*/
blockquote {
	font-style: italic;
	text-align: center;

	& p {
		color: var(--Secondary);
		font-size: 24px;
	}
}

/*----------------------------------------------------------------*\
		CODE EXAMPLES
\*----------------------------------------------------------------*/
code {
	font-size: .875em;
}