/*----------------------------------------------------------------*\
	BANNERS
\*----------------------------------------------------------------*/
.banner {
	width: 100%;
	height: auto;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: var(--Black) var(--DarkGrey) alpha(60%));
	}

	&>section {
		position: relative;
		text-align: center;
		z-index: 2;

		&>*:first-child {
			margin-top: 0;
			color: var(--White);
			letter-spacing: 1px;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		& h2,
		h3,
		h4,
		h5,
		p,
		p.subheader {
			color: var(--White);
		}

		& .buttons {
			margin-top: 25px;
		}
	}
}