/*----------------------------------------------------------------*\
	PAGE FOOTER
\*----------------------------------------------------------------*/
#footer-open {
	position: absolute;
	bottom: 1rem;
	right: calc(50% - 12px);
	background-color: transparent;
	border: none;
	cursor: pointer;
	padding: 0;
	margin: 0;
	border-radius: 0;
	z-index: 99;

	@media(--laptop) {
		display: none;
	}

	& svg {
		width: 24px;
		height: 24px;
		display: block;
		margin: 0 auto;
	}

	& p {
		margin: 0;
		color: var(--PrimaryLight);
		text-transform: none;
		font-family: 'Roboto Slab', serif;
		font-size: 18px;
	}
}

footer.page-footer {
	background-color: var(--White);
	color: var(--Black);
	padding-top: 2rem;
	z-index: 1001;

	@media(--laptop) {
		padding-top: 0;
		position: inherit;
		transform: translateY(0);
		width: auto;
	}

	&.is-active {
		transform: translateY(0);
	}

	& #footer-close {
		position: absolute;
		top: 1rem;
		right: calc(50% - 12px);
		background-color: transparent;
		border: none;
		cursor: pointer;
		padding: 0;
		margin: 0;

		@media(--laptop) {
			display: none;
		}

		& svg {
			width: 24px;
			height: 24px;
		}
	}

	&>.grid {
		padding: 10px 2vw 2rem;
		grid-template-columns: 100%;
		grid-row-gap: 0vh;

		@media(--tablet) {
			padding: 25px 2vw;
			grid-template-columns: 65% 33%;
			grid-row-gap: 3vh;
		}

		@media(--laptop) {
			grid-template-columns: 40% auto 30%;
		}

		& .block:nth-child(3) {
			display: none;

			@media(--laptop) {
				display: block;
			}
		}

		& .block.buttons {
			& .widget_text {
				& p {
					margin: 0;
					text-align: center;

					@media(--tablet) {
						text-align: left;
					}
				}
			}
		}

		& .block.social {
			margin-top: 0;
			display: flex;
			justify-content: center;

			@media(--tablet) {
				display: block;
			}

			@media(--laptop) {
				margin-top: -50px;
			}

			& a svg {
				width: 20px;
				height: 20px;
				margin: 0 1em;

				@media(--laptop) {
					margin: 0;
					margin-right: 20px;
				}
			}
		}

		& .widget_text {
			& .button {
				margin: .5em 0 1em;
				font-size: 11px;

				@media(--tablet) {
					margin: .5em 0;
					font-size: 16px;
				}
			}

			& h3 {
				display: none;
				font-size: 20px;
				margin-bottom: .5em;

				@media(--tablet) {
					display: block;
					margin-top: 10px;
				}
			}

			& p {
				& a {
					&.hide-for-mobile {
						display: none;

						@media(--tablet) {
							display: inline-block;
						}
					}
				}
			}
		}

		& .block.wide {
			grid-column: 100%;
			margin-top: 0;

			@media(--tablet) {
				grid-column: 1 / span 2;
			}

			@media(--laptop) {
				grid-column: 1 / span 3;
				margin-top: -50px;
			}

			& .widget_text p {
				font-size: 9px;

				@media(--tablet) {
					font-size: 11px;
				}

				& p:first-of-type {
					font-size: 11px;

					@media(--tablet) {
						font-size: 15px;
					}
				}
			}

			& .widget_nav_menu {
				display: flex;
				justify-content: center;

				@media(--laptop) {
					display: block;
				}

				& ul {
					padding-left: 0;
					list-style-type: none;
					margin: 0;

					& li {
						display: inline-block;
						padding-right: 1em;
						font-size: 11px;
						font-family: 'Roboto Bold', sans-serif;
					}
				}
			}
		}

		& nav {
			& ul {
				margin: 0;
				justify-content: center;

				@media(--phone) {
					justify-content: flex-end;
				}
			}

			& a {
				padding: 0 .5em;
				font-size: .875em;
				line-height: 2;
				color: var(--Primary);
			}
		}

		& .gform_footer {
			& .button {
				border: 1px solid var(--Primary);
				background-color: transparent;
				color: var(--Primary);
				font-family: 'Roboto Slab', serif;
				letter-spacing: 1px;
				margin-top: 10px;

				&:hover,
				&:focus,
				&.is-hover {
					background-color: var(--PrimaryHover);
					color: var(--White);
				}
			}
		}

		& #element5-credit {
			text-align: center;
			overflow: hidden;
			position: absolute;
			bottom: 0;
			right: 0;

			@media(--tablet) {
				bottom: 40px;
			}

			& a {
				width: 100px;
				height: 26px;
				display: block;

				@media(--tablet) {
					width: 170px;
					height: 45px;
				}
			}

			& img {
				transform: translateX(430%);
				transition: all .35s linear;
				width: 100px;

				@media(--tablet) {
					width: auto;
				}
			}

			&[data-emergence=visible] img {
				transform: translateX(0);
			}
		}
	}
}

#menu-footer-navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	list-style-type: none;
	padding-left: 0;
	margin: 0;

	& li {
		width: 33%;
		padding: 5px 0;
		line-height: 1;
		margin-bottom: 0;

		@media(--tablet) {
			line-height: 2;
		}

		&:before {
			display: none;
		}

		& a {
			color: var(--Tertiary);
			font-family: 'Roboto Slab', serif;
			font-size: 11px;

			@media(--tablet) {
				font-size: 14px;
			}
		}
	}
}

#menu-legal-navigation {
	& li {
		width: auto;
		padding-left: inherit;

		&:before {
			display: none;
		}
	}
}