/*----------------------------------------------------------------*\
	PAGE TITLES
\*----------------------------------------------------------------*/
header.page-title {
	width: 100%;
	height: auto;
	min-height: 400px;
	align-items: center;
	display: flex;
	position: relative;
	color: var(--White);
	background-color: var(--Black);

	&>.block {
		position: relative;
		z-index: 3;

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		& h1 {
			font-family: 'Roboto Slab', serif;
			margin-bottom: 15px;
			font-size: 44px;

			@media(--phone) {
				font-size: 52px;
			}

			@media(--laptop) {
				font-size: 64px;
				margin-bottom: 20px;
			}
		}

		& h3 {
			color: var(--White);
			font-family: 'Roboto Light', sans-serif;
			font-size: 20px;
			margin: 0;

			@media(--oldphone) {
				font-size: 28px;
			}
		}

		& .buttons {
			margin-top: 24px;

			& a.button+a.button {
				margin: 16px 0 0 0;
			}

			@media(--phone) {
				& a.button {
					margin: 0;

					&+a.button {
						margin: 0 0 0 12px;
					}
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
	IMAGE PAGE TITLES
\*----------------------------------------------------------------*/
header.page-title {
	&.has-image {
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
	}
}

/*----------------------------------------------------------------*\
	VIDEO PAGE TITLES
\*----------------------------------------------------------------*/
header.page-title {
	&.has-video {
		min-height: 60vh;
		overflow: hidden;
		overflow: hidden;

		&:after {
			content: '';
			border: 3px solid var(--Secondary);
			position: absolute;
			top: -8rem;
			left: -50%;
			right: 0;
			transform: rotate(-45deg);
			transform-origin: 100% 0;
			display: none;

			@media(--laptop) {
				display: block;
			}
		}

		& button {
			position: absolute;
			top: 12rem;
			right: 20rem;
			z-index: 10;
			border: 10px solid var(--White);
			border-radius: 50%;
			width: 80px;
			height: 80px;
			cursor: pointer;
			animation: none;
			display: none;

			@media(--laptop) {
				display: inline-block;
			}

			&:hover,
			&:focus {
				box-shadow: 0 0 0 var(--Secondary);
				animation: pulse 2s infinite;
			}

			& svg {
				width: 25px;
				height: 26px;
				margin-left: 3px;
				margin-top: 3px;
				fill: #ffffff;
			}
		}
	}
}

/*----------------------------------------------------------------*\
	HOME PAGE TITLES
\*----------------------------------------------------------------*/
.home header {
	overflow: hidden;

	&:after {
		content: '';
		border: 3px solid var(--Secondary);
		position: absolute;
		top: 10rem;
		left: -50%;
		right: 0;
		transform: rotate(-40deg);
		transform-origin: 100% 0;
		display: none;

		@media(--laptop) {
			display: block;
		}
	}

	&.page-title {
		&>.block {
			height: 100vh;
			padding-top: 72px;

			@media(--phone) {
				height: auto;
			}

			& .blocks {
				width: 90vw;
				margin: 0 auto;

				@media(--laptop) {
					width: 100%;
					margin: 0;
				}

				&:last-of-type {
					margin-top: 2rem;

					@media(--phone) {
						margin-top: 4rem;
					}

					@media(--laptop) {
						margin-top: 6rem;
						max-width: 510px;
					}
				}

				& .buttons {
					margin-top: 1em;
					text-align: center;

					@media(--oldphone) {
						margin-top: 2em;
					}

					@media(--phone) {
						text-align: left;
					}

					& .button:last-of-type {
						margin-top: 1em;

						@media(--phone) {
							margin-top: 0;
						}
					}
				}
			}

			& h2 {
				color: var(--PrimaryLight);
				font-family: 'Roboto Slab', serif;
				margin: 0;
				font-size: 20px;

				@media(--oldphone) {
					font-size: 24px;
				}

				@media(--laptop) {
					font-size: 34px;
				}
			}

			& p {
				font-size: 16px;
				margin: 0.5em 0;

				@media(--laptop) {
					font-size: 18px;
					margin: 1em 0;
				}
			}
		}
	}

	& button {
		position: absolute;
		top: 28rem;
		right: 21.5rem;
		z-index: 10;
		border: 10px solid var(--White);
		border-radius: 50%;
		width: 80px;
		height: 80px;
		cursor: pointer;
		animation: none;
		display: none;

		@media(--laptop) {
			display: inline-block;
		}

		&:hover,
		&:focus {
			box-shadow: 0 0 0 var(--Secondary);
			animation: pulse 2s infinite;
		}

		& svg {
			width: 25px;
			height: 26px;
			margin-left: 3px;
			margin-top: 3px;
			fill: #ffffff;
		}
	}
}