/*----------------------------------------------------------------*\
	RELATED POSTS
\*----------------------------------------------------------------*/

.related-posts {
	margin: 2rem 0;
	background: var(--Grey);
	justify-content: center;
	& .grid {
		& a:first-child {
			padding: .5em;
		}
	}
}