/*----------------------------------------------------------------*\

		PROCESSOR: POSTCSS
			http://postcss.org/
		SYNTAX: CSSNEXT
			http://cssnext.io/
		NAMING CONVENTIONS: MODULAR CSS with lower-case-hyphenated
			http://thesassway.com/advanced/modular-css-naming-conventions
		CSS Style: TABS
			http://www.sublimetext.com/docs/indentation
		CSS BASE: NORMALIZE
			https://necolas.github.io/normalize.css/
		FRAMEWORK: CSS GRID & FLEXBOX
			https://css-tricks.com/snippets/css/complete-guide-grid/
			https://css-tricks.com/snippets/css/a-guide-to-flexbox/

\*----------------------------------------------------------------*/
/*----------------------------------------------------------------*\
		VARIABLES
\*----------------------------------------------------------------*/
:root {
	/* SIZING */
	--SmallWidth: 800px;
	--Width: 1024px;
	--LargeWidth: 1300px;
	--LargeSpacing: 70px;
	--Spacing: 50px;
	--SmallSpacing: 25px;
	/* COLORS */
	--Primary: #68A19B;
	--PrimaryHover: #4F8882;
	--PrimaryLight: #B5D9D7;
	--Secondary: #C7995E;
	--SecondaryHover: #AE8045;
	--Tertiary: #0D1E32;
	--TertiaryHover: #27384C;
	--Fourth: #F4E9CD;
	--Positive: #68A19B;
	--Warning: #D85060;
	--Negative: #D85060;
	--White: #F8FAFC;
	--Grey: #E6E8EA;
	--DarkGrey: #929BA2;
	--Black: #0F1C2C;
}

/*----------------------------------------------------------------*\
		MEDIA QUERIES IN CORRECT ORDER
\*----------------------------------------------------------------*/
@custom-media --oldphone (min-width: 350px);
@custom-media --phone (min-width: 500px);
@custom-media --tablet (min-width: 800px);
@custom-media --laptop (min-width: 1024px);
@custom-media --desktop (min-width: 1200px);

div {
	@media(--oldphone) {
		box-sizing: inherit;
	}

	@media(--phone) {
		box-sizing: inherit;
	}

	@media(--tablet) {
		box-sizing: inherit;
	}

	@media(--laptop) {
		box-sizing: inherit;
	}

	@media(--desktop) {
		box-sizing: inherit;
	}
}

/*----------------------------------------------------------------*\
		UNIVERSAL BOX-SIZING
\*----------------------------------------------------------------*/
html {
	box-sizing: border-box;
	font-size: 16px;
	background: #ffffff;
	position: relative;
	scroll-behavior: smooth;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*----------------------------------------------------------------*\
		WORDPRESS CLASSES
\*----------------------------------------------------------------*/
section {
	&>h2:first-child {
		margin-top: 0;
		width: 100%;

		&>p.subheader {
			width: 100%;
		}
	}

	& img {
		max-width: 100%;
		height: auto;

		&.alignleft {
			float: left;
			margin: 1em 1em 1em 0;
		}

		&.alignright {
			float: right;
			margin: 1em 0 1em 1em;
		}

		&.aligncenter {
			display: block;
			margin: 1em auto;
		}
	}
}

/*----------------------------------------------------------------*\
		SECTION SIZING
\*----------------------------------------------------------------*/
section {
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	&.is-large-width {
		max-width: var(--LargeWidth);
	}

	&.is-standard-width {
		max-width: var(--Width);

		@media(--desktop) {
			padding-left: 3vw;
			padding-right: 3vw;
		}
	}

	&.is-small-width {
		max-width: var(--SmallWidth);

		@media(--laptop) {
			padding-left: 3vw;
			padding-right: 3vw;
		}
	}

	&.has-large-spacing {
		padding: var(--LargeSpacing) 3vw;
	}

	&.has-standard-spacing {
		padding: var(--Spacing) 3vw;
	}

	&.has-small-spacing {
		padding: var(--SmallSpacing) 3vw;
	}
}

.text-center {
	text-align: center;
}

/*----------------------------------------------------------------*\
		LIGHTBOX STYLES
\*----------------------------------------------------------------*/
.featherlight-iframe .featherlight-content {
	overflow: hidden !important;
	overflow-y: hidden !important;
	border: 5px solid var(--Secondary) !important;
	border-radius: 25px;
}

.featherlight-content {
	width: 640px;
	height: 480px;
	background-color: #000000 !important;
	max-width: 100%;
}

/*----------------------------------------------------------------*\
		CONFIRMATION MESSAGE
\*----------------------------------------------------------------*/
.gform_confirmation_message {
	font-size: 18px;
	font-family: 'Roboto Light', sans-serif;
}

/*----------------------------------------------------------------*\
		IFRAME WIDTH
\*----------------------------------------------------------------*/
iframe {
	max-width: 100%;
}

.single-post {
	iframe {
		max-width: 100%;
	}
}

/*----------------------------------------------------------------*\
		FAQ PAGE
\*----------------------------------------------------------------*/
.faqs .main-content-block p {
	margin-bottom: 3em;
}

/*----------------------------------------------------------------*\
		ANCHOR TOP SPACING
\*----------------------------------------------------------------*/
:target::before {
	content: "";
	display: block;
	height: 137px;
	margin: -137px 0 0;
	visibility: hidden;
}