/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE ABOUT TEMPLATE

\*----------------------------------------------------------------*/
.page-template-about {
	& .main-content-block {
		& p:first-child {
			font-size: 22px;

			@media(--laptop) {
				font-size: 28px;
			}
		}

		& h2 {
			margin: 3em 0 0;
		}
	}

	& .gallery {
		width: calc(100% + 10px);
		margin-left: -5px;
		position: relative;

		& figure {
			width: 100%;
			padding: 5px;
			margin: 0;

			@media(--phone) {
				width: 50%;
			}

			& img {
				width: 100% !important;
			}
		}
	}

	& .banner.blue {
		background-color: var(--Tertiary);

		& section {
			display: flex;
			flex-wrap: wrap;

			& ul {
				text-align: left;
				column-count: 1;
				width: 100%;
				color: var(--White);
				letter-spacing: 1px;
				margin: 0;

				@media(--tablet) {
					width: 50%;
				}

				& li {
					padding-bottom: .5em;
				}
			}
		}
	}

	& .team {
		padding-bottom: 0;
		grid-template-columns: repeat(auto-fit, 49%);

		@media(--laptop) {
			grid-template-columns: repeat(auto-fit, 23.5%);
		}

		& h2 {
			text-align: center;
			margin: 1em 0 0;
		}
	}
}