/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE APPOINTMENT TEMPLATE

\*----------------------------------------------------------------*/
.page-template-appointment {
	& header.page-title {
		min-height: 100vh;
		color: var(--Black);
		text-align: center;

		& .block {
			background-color: var(--White);
			margin-top: 10rem;
			margin-bottom: 8rem;

			& #existing-client {
				max-width: 500px;
				margin: 0 auto;

				&.is_hidden {
					display: none;
				}

				& h1 {
					color: var(--Black);
					font-size: 26px;

					@media(--laptop) {
						font-size: 34px;
					}
				}
			}

			& #schedule-appointment {
				display: none;
				max-width: 500px;
				margin: 0 auto;

				&.is_visible {
					display: block;
				}

				& h4 {
					font-size: 18px;
				}

				& p.disclaimer {
					text-align: left;
				}
			}

			& #schedule-Kruzan {
				display: none;

				&.is_visible {
					display: block;
				}
			}

			& #schedule-Brennan {
				display: none;

				&.is_visible {
					display: block;
				}
			}

			& #schedule-Houston {
				display: none;

				&.is_visible {
					display: block;
				}
			}

			& #appointment-form {
				display: none;

				&.is_visible {
					display: block;
				}

				& a.back {
					z-index: 1;
				}

				& form {
					max-width: 500px;

					& h2 {
						margin-bottom: 0;
					}

					& p {
						margin: 0;
					}

					& label {
						text-align: left;
						font-size: 16px;
						padding: 0;
					}

					& .gfield_required {
						display: none;
					}

					& .gform_previous_button {
						position: absolute;
						top: 0;
						left: 0;
						background-color: transparent;
						background-image: none;
						border: none;
						width: auto;
						font-family: 'Roboto Light', sans-serif;
						padding: 1em;
						z-index: 2;
						font-size: 18px;
						text-transform: none;

						&.is-activated {
							background-image: none;
						}
					}

					& .gform_next_button {
						width: auto;
						font-size: 1.25em;
						padding: .75em 1.35em;

						&.is-activated {
							background-image: none;
						}
					}
				}

				& .gf_page_steps {
					position: relative;
					display: flex;
					justify-content: space-between;
					width: 100%;

					&:before {
						content: '';
						position: absolute;
						top: 5px;
						background: var(--Grey);
						height: 5px;
						width: 100%;
					}

					& .gf_step {
						width: 16px;
						padding-left: initial;
						text-align: center;
						display: flex;
						position: initial;

						&:before {
							content: '';
							position: absolute;
							top: 5px;
							left: 0;
							background: var(--Primary);
							height: 5px;
							width: 0;
							border-radius: 0;
							transition: all .35s linear;
						}

						&:first-of-type {
							& span {
								border: 4px solid var(--Primary);
								background-color: var(--Primary);
							}

							&.gf_step_active {
								&~.gf_step span {
									border: 4px solid var(--Grey);
									background-color: var(--Grey);
								}
							}
						}

						&:nth-of-type(2) {
							& span {
								border: 4px solid var(--Primary);
								background-color: var(--Primary);
							}

							&.gf_step_active {
								&~.gf_step span {
									border: 4px solid var(--Grey);
									background-color: var(--Grey);
								}
							}
						}

						&:nth-of-type(3) {
							& span {
								border: 4px solid var(--Primary);
								background-color: var(--Primary);
							}

							&.gf_step_active {
								&~.gf_step span {
									border: 4px solid var(--Grey);
									background-color: var(--Grey);
								}
							}
						}

						&:nth-of-type(4) {
							& span {
								border: 4px solid var(--Primary);
								background-color: var(--Primary);
							}

							&.gf_step_active {
								&~.gf_step span {
									border: 4px solid var(--Grey);
									background-color: var(--Grey);
								}
							}
						}

						&:nth-of-type(5) {
							& span {
								border: 4px solid var(--Primary);
								background-color: var(--Primary);
							}

							&.gf_step_active {
								&~.gf_step span {
									border: 4px solid var(--Grey);
									background-color: var(--Grey);
								}
							}
						}

						&:nth-of-type(6) {
							& span {
								border: 4px solid var(--Primary);
								background-color: var(--Primary);
							}

							&.gf_step_active {
								&~.gf_step span {
									border: 4px solid var(--Grey);
									background-color: var(--Grey);
								}
							}
						}

						&.gf_step_active {
							&:first-of-type {
								&:before {
									display: none;
								}
							}

							&:nth-of-type(2) {
								&:before {
									width: 20%;
								}
							}

							&:nth-of-type(3) {
								&:before {
									width: 40%;
								}
							}

							&:nth-of-type(4) {
								&:before {
									width: 60%;
								}
							}

							&:nth-of-type(5) {
								&:before {
									width: 80%;
								}
							}

							&:nth-of-type(6) {
								&:before {
									width: 100%;
								}
							}

							& span {
								border: 4px solid var(--Primary);
							}
						}

						& span {
							font-size: 0;
							width: 16px;
							height: 16px;
							border: 4px solid var(--Grey);
							background-color: var(--Grey);
							z-index: 2;
							border-radius: 25px;
							position: absolute;

							&:first-of-type {
								display: none;
							}
						}
					}

					& .gf_step_clear {
						display: none;
					}
				}
			}

			& a.back {
				position: absolute;
				top: 0;
				left: 0;
				color: var(--Black);
				font-family: 'Roboto Light', sans-serif;
				font-size: 18px;
				padding: 1em;
			}

			& button {
				margin: 1em 0;
			}
		}
	}
}