/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE APPOINTMENT THANK YOU TEMPLATE

\*----------------------------------------------------------------*/
.page-template-appointment-thank-you {
	& header.page-title {
		& .block {
			margin-top: 6rem;
			margin-bottom: 2rem;
		}
	}
}