/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE APPROACH TEMPLATE

\*----------------------------------------------------------------*/
.page-template-approach {
	& .main-content-block {
		& p:first-child {
			font-size: 22px;

			@media(--laptop) {
				font-size: 28px;
			}
		}
	}

	& .approach-slide {
		& .approach-card {
			width: 100%;
			float: left;
			padding: 1em 2em 0 0;

			@media(--phone) {
				width: 50%;
			}

			&:nth-child(2):nth-last-child(1) {
				width: 100%;
				padding: 0 2em 0 0;
			}

			& img {
				max-width: 88px;
			}

			& .resources {
				& a {
					font-family: 'Roboto Slab', serif;
					display: flex;
					flex-wrap: wrap;
					align-items: center;
				}

				& svg {
					width: 18px;
					height: 20px;
					margin-right: .8em;
				}
			}
		}
	}

	& .slick-slider {
		padding-top: 120px;

		& .slick-prev {
			position: absolute;
			top: 80px;
			left: 2em;
			background-color: transparent;
			border: 1px solid var(--Tertiary);
			color: var(--Tertiary);

			&:hover,
			&:focus {
				background-color: var(--Tertiary);
				color: var(--White);
			}

			&.slick-disabled {
				display: none !important;
			}
		}

		& .slick-next {
			position: absolute;
			top: 80px;
			right: 2em;
			background-color: transparent;
			border: 1px solid var(--Tertiary);
			color: var(--Tertiary);

			&:hover,
			&:focus {
				background-color: var(--Tertiary);
				color: var(--White);
			}

			&.slick-disabled {
				display: none !important;
			}
		}

		& .slick-dots {
			position: absolute;
			top: 0;
			width: calc(100% - 4em);
			display: flex;
			justify-content: space-between;
			margin: 0 2em;

			&:before {
				content: '';
				position: absolute;
				top: 5px;
				background: var(--Grey);
				height: 5px;
				width: 100%;
			}

			& li {
				width: auto;
				padding-left: initial;
				text-align: center;
				display: flex;
				position: initial;

				&:before {
					content: '';
					position: absolute;
					top: 5px;
					left: 0;
					background: var(--Secondary);
					height: 5px;
					width: 0;
					border-radius: 0;
					transition: all .35s linear;
				}

				&:first-of-type {
					& button {
						border: 4px solid var(--Secondary);
						background-color: var(--Secondary);
					}

					&.slick-active {
						&~li button {
							border: 4px solid var(--Grey);
							background-color: var(--White);
						}
					}
				}

				&:nth-of-type(2) {
					& button {
						border: 4px solid var(--Secondary);
						background-color: var(--Secondary);
					}
				}

				&.slick-active {
					&:first-of-type {
						&:before {
							display: none;
						}
					}

					&:nth-of-type(2) {
						&:before {
							width: 50%;
						}
					}

					&:last-of-type {
						&:before {
							width: 100%;
						}
					}

					& button {
						border: 4px solid var(--Secondary);
						box-shadow: 0 0 0 var(--Secondary);
						animation: pulse 2s infinite;
						background-color: var(--Secondary);
					}
				}

				& button {
					font-size: 0;
					width: 16px;
					height: 16px;
					border: 4px solid var(--Grey);
					background-color: var(--White);
					z-index: 2;

					&:hover,
					&:focus {
						box-shadow: 0 0 0 var(--Secondary);
						animation: pulse 2s 1;
					}
				}
			}
		}
	}
}