/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO ARCHIVES

\*----------------------------------------------------------------*/
.archive {
	& .categories {
		& h2 {
			margin: 1em 0 .5em;
		}

		& .chip {
			&:first-of-type {
				margin-right: 0;
			}
		}
	}
}

#menu-event-types,
#menu-category-navigation {
	column-count: 1;

	& li {
		padding-left: 0;
		margin-bottom: 0;
		display: inline-block;
		width: auto;

		&:before {
			display: none;
		}

		&.active {
			& a {
				background-color: var(--Secondary);
				color: var(--Tertiary);
			}
		}

		& a {
			display: inline-block;
			margin: .25em;
			padding: .5em .7em;
			border-radius: 25px;
			border: 1px solid var(--Secondary);
			background-color: transparent;
			font-size: 14px;
			font-family: Roboto Light, sans-serif;
			text-decoration: none;
			text-align: center;
			color: var(--Secondary);
			cursor: pointer;
			outline: 0;
			transition: all .35s linear;

			&:hover,
			&:focus {
				background-color: var(--Secondary);
				color: var(--Tertiary);
			}
		}
	}
}

.tax-type {
	& #menu-event-types {

		& li {

			&.active:first-of-type {
				& a {
					background-color: transparent;
					color: var(--Secondary);
				}
			}
		}
	}
}

.category {
	& #menu-category-navigation {

		& li {

			&.active:first-of-type {
				& a {
					background-color: transparent;
					color: var(--Secondary);
				}
			}
		}
	}
}

.event-feed.grid.has-two-column {
	grid-column-gap: 4%;
	grid-row-gap: 4vh;

	@media(--phone) {
		grid-template-columns: repeat(auto-fit, 100%);
	}

	@media(--tablet) {
		grid-template-columns: repeat(auto-fit, 48%);
	}
}

/*----------------------------------------------------------------*\
	INFINITE SCROLL
\*----------------------------------------------------------------*/
.page-load-status,
.navigation.pagination {
	display: none;
	text-align: center;
	width: 100%;
}