/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE CAREERS TEMPLATE

\*----------------------------------------------------------------*/
.page-template-careers {
	& .main-content-block {
		& p {
			&:first-of-type {
				font-size: 28px;
			}
		}
	}

	& .cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		& .card {
			width: 100%;
			margin: 1em 0;

			@media(--phone) {
				width: 48%;
			}

			& img {
				max-width: 88px;
			}
		}
	}

	& .jobs {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		& h2 {
			text-align: center;
		}

		& .preview-post {
			width: 100%;
			padding: 1em;
			margin: 1em;

			@media(--tablet) {
				width: 44%;
				margin: 0;
			}

			& .job-info {
				margin: 0;
			}

			& p {
				font-size: 14px;
				font-family: 'Roboto Slab', serif;
				margin-bottom: 0.5em;
			}

			& h1 {
				color: var(--Primary);
				font-size: 27px;
				margin-top: 0;
			}
		}

		& .looking-for {
			margin: 3em 0 1em;
			background: #E6E8EA;
			width: 100%;
			padding: 2em;

			& h3 {
				margin-top: 0;
			}

			& p {
				margin: .3em 0;

				&:last-of-type {
					margin: 0;
				}
			}
		}
	}
}