/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE CONTACT TEMPLATE

\*----------------------------------------------------------------*/
.page-template-contact {
	& .form-section-wrap {
		display: flex;
		flex-wrap: wrap;
		padding: 0 0 var(--Spacing);

		& .form {
			width: 100%;
			padding: var(--Spacing) 5vw;

			@media(--tablet) {
				width: 50%;
			}

			& .gform_body {
				& textarea {
					height: 110px;
				}
			}

			& .gform_footer {
				& button {
					font-size: 1.25em;
					padding: .75em 1.35em;
				}
			}
		}

		& .book-appointment {
			width: 100%;
			background-color: var(--White);
			padding: var(--Spacing) 5vw;

			@media(--tablet) {
				width: 50%;
			}

			&>div {
				position: sticky;
				top: 137px;

				& h2 {
					margin-top: 0;
				}
			}

			& h3 {
				margin-bottom: 0;
				color: var(--Primary);
				line-height: 1.5;
			}
		}
	}

	& .team {
		padding: 1em 3vw 0;

		@media(--phone) {
			grid-template-columns: repeat(auto-fit, 100%);
		}

		@media(--tablet) {
			grid-template-columns: repeat(auto-fit, 49%);
		}

		& .preview-post {
			flex-direction: inherit;
			height: 160px;

			@media(--tablet) {
				height: 140px;
			}

			@media(--laptop) {
				height: 160px;
			}

			&:only-child {
				@media(--tablet) {
					margin-left: 50%;
				}
			}

			& .featured-image {
				height: 160px;
				width: 160px;
				max-height: inherit;

				@media(--tablet) {
					height: 140px;
					width: 140px;
				}

				@media(--laptop) {
					height: 160px;
					width: 160px;
				}

				& img {
					height: 100%;
					width: auto;
				}
			}

			& .member-info {
				width: calc(100% - 160px);
				text-align: left;
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;

				@media(--tablet) {
					width: calc(100% - 140px);
					flex-direction: inherit;
				}

				@media(--laptop) {
					width: calc(100% - 160px);
					flex-direction: column;
				}

				& h1 {
					font-size: 18px;

					@media(--phone) {
						font-size: 20px;
					}

					@media(--tablet) {
						font-size: 18px;
					}

					@media(--laptop) {
						font-size: 20px;
					}
				}

				& p {
					flex: auto;
					font-size: 13px;

					@media(--phone) {
						font-size: 16px;
					}

					@media(--tablet) {
						font-size: 13px;
					}

					@media(--laptop) {
						font-size: 16px;
					}
				}

				& .links {
					& svg {
						&:first-of-type {
							margin-left: 0;
						}
					}
				}
			}
		}
	}

	& .location-title {
		padding: 4em 3vw 0;
	}

	& .locations {
		padding: 0 3vw 4em;
		grid-column-gap: 4%;

		@media(--phone) {
			grid-template-columns: repeat(auto-fit, 100%);
		}

		@media(--tablet) {
			grid-template-columns: repeat(auto-fit, 48%);
		}

		& a {
			font-family: 'Roboto Bold', sans-serif;
			font-size: 18px;
			padding: 0 1em;

			&:first-of-type {
				padding-left: 0;
			}

			&:nth-of-type(2) {
				border-left: 2px solid var(--Primary);
			}

			&:nth-of-type(3) {
				border-left: 2px solid var(--Primary);
			}

			&.button {
				font-family: 'Roboto Slab', serif;
				font-size: 16px;
				padding: .5em 1em;
				border-left: none;
			}
		}

		& h4 {
			margin-bottom: .5em;
		}

		& p {
			margin-top: .5em;
		}
	}
}