/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE EMPLOYEES TEMPLATE

\*----------------------------------------------------------------*/
.page-template-employees {
	& .login {
		background-color: var(--White);
		margin: 10em auto;
		max-width: 500px;

		& h2 {
			color: var(--Tertiary);
			margin-bottom: 0;
		}

		& .login-submit {
			display: flex;

			& .button {
				width: auto;
				margin: 1em auto 0;
			}
		}
	}

	& #calendar .over {
		height: auto;
		top: 40%;
	}

	& .ui-datepicker-title {
		margin-top: 20px;
	}

	& main {
		& section {
			&:first-of-type {
				padding-bottom: 0;

				& h2 {
					margin: 1em 0 0;
				}
			}

			&:nth-of-type(2) {
				padding-top: 0;
			}

			&:last-of-type {
				text-align: center;

				& a {
					display: inline-block;
					margin: .25em .25em 2em;
					cursor: pointer;
					border: 1px solid var(--Tertiary);
					border-radius: 25px;
					background-color: var(--Tertiary);
					font-family: 'Roboto Slab', serif;
					text-transform: uppercase;
					text-decoration: none;
					text-align: center;
					color: var(--White);
					outline: none;
					transition: all .35s linear;
					font-size: 1.25em;
					padding: .75em 1.35em;
				}
			}
		}

		& .section-links {
			display: flex;
			flex-wrap: wrap;

			& ul {
				& li {
					padding-left: 0;
					font-family: 'Roboto Bold', sans-serif;

					&:before {
						display: none;
					}
				}
			}

			& p {
				width: 100%;
				margin: 0 0 .5em;

				@media(--tablet) {
					width: 50%;
				}
			}
		}
	}
}