/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE GLOSSARY TEMPLATE

\*----------------------------------------------------------------*/
.page-template-glossary {
	& .half {
		display: flex;
		flex-wrap: wrap;

		& div {
			width: 100%;

			@media(--tablet) {
				width: 50%;
				padding-right: 2vw;
			}

			&:nth-child(even) {
				@media(--tablet) {
					padding-right: 0;
					padding-left: 2vw;
				}
			}
		}
	}

	& .main-content-block {
		padding-bottom: 0;
	}

	& .glossary {
		& h3 {
			margin: 0;
		}

		& p {
			margin: .5em 0;
		}

		& .letters-wrap {
			display: flex;
    	flex-wrap: wrap;

			& .letters {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				width: 100%;
				@media(--tablet) {
					width: 50%;
				}

				&:last-of-type {
					padding-left: 10px;
				}

				& a,
				& p {
					margin: 0;
					color: var(--Tertiary);
					opacity: 0.4;
					font-family: 'Roboto Slab', serif;
					font-size: 21px;
					line-height: 1;
				}
			}
		}

		& .letter-wrap {
			& div {
				margin: 4em 0;
				
				@media(--tablet) {
					margin: 3em 0;
				}
			}
		}
	}
}