/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE HOME TEMPLATE

\*----------------------------------------------------------------*/
.page-block {
	margin-top: -72px;
	position: relative;

	@media(--laptop) {
		margin-top: -87px;
	}

	&.is_stuck {
		margin-top: 0;
	}

	&.is-home {
		display: grid;
		grid-template-columns: repeat(5, 1fr);

		&>header,
		&>footer,
		&>main {
			grid-column: 1 / span 5;
			order: 1;
		}
	}
}

.search {
	& .page-title {
		margin-top: -72px;

		@media(--laptop) {
			margin-top: -87px;
		}
	}
}

.home {
	& header {
		height: 100vh;
	}

	& main {
		margin-bottom: 0;
	}

	& .navigation-block {
		box-shadow: none;
	}

	& .blocks p {
		color: var(--White);
	}
}

.infinite-scroll {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.load-more {
	display: none;
}

.blog {
	& header {
		& .blocks {
			& .button {
				margin-top: 2em;
			}
		}
	}
}