/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE KAYDAN CARES TEMPLATE

\*----------------------------------------------------------------*/
.page-template-kaydan-cares {
	& header {
		& .blocks {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			align-items: center;

			& svg {
				max-width: 318px;
				max-height: 204px;
				margin-top: 4em;
			}

			& p {
				color: var(--White);
				font-size: 28px;
				margin: 0;
			}
		}
	}

	& .main-content-block {
		& p {
			color: #2C517C;
			font-size: 22px;

			@media(--tablet) {
				font-size: 28px;
			}
		}

		& h2 {
			color: #2C517C;
			font-size: 24px;

			@media(--tablet) {
				font-size: 26px;
			}
		}
	}

	& .count-up {
		background-color: #ECF2F8;

		& section {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			text-align: center;

			& div {
				width: 100%;
				margin-bottom: 2em;

				@media(--tablet) {
					width: auto;
					margin-bottom: 0;
				}

				&:nth-of-type(2) {

					& h3,
					& h3 span {
						color: #F16374;
					}
				}

				&:nth-of-type(3) {

					& h3,
					& h3 span {
						color: #68A19B;
					}
				}

				& svg {
					height: 48px;
					width: 48px;
				}

				& h3,
				& h3 span {
					color: #2C517C;
					font-family: 'Roboto Slab', serif;
					font-size: 72px;
					font-weight: bold;
					margin: .5rem 0;
				}

				& p {
					color: #2C517C;
					font-size: 20px;
					margin: .5rem 0;
				}
			}
		}
	}

	& .logo-slider-section {
		position: relative;

		& h3 {
			color: #2C517C;
			text-align: center;
			margin-bottom: 2em;
		}

		& .slick-track {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}

		& .slick-slide img {
			width: 200px;
			margin: 0 auto;
			padding: 0 20px;

			@media(--tablet) {
				max-height: 100px;
				width: auto;
			}
		}

		& .prev {
			display: none !important;
			position: absolute;
			top: 10rem;
			text-align: center;
			border-radius: 0;
			background-color: transparent;
			border: none;
			padding: 0;
			margin: 0;
			left: 0;
			transform: scaleX(-1);

			@media(--tablet) {
				display: inline-block !important;
			}

			& svg {
				height: 60px;
			}
		}

		& .next {
			display: none !important;
			position: absolute;
			top: 10rem;
			text-align: center;
			border-radius: 0;
			background-color: transparent;
			border: none;
			padding: 0;
			margin: 0;
			right: 0;

			@media(--tablet) {
				display: inline-block !important;
			}

			& svg {
				height: 60px;
			}
		}
	}
}