/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE PAY MY INVOICE TEMPLATE

\*----------------------------------------------------------------*/
.page-template-pay-my-invoice,
.page-template-payment,
.single-product {
	& header.page-title {
		& .block {
			background-color: var(--White);
			margin-top: 10rem;
			margin-bottom: 8rem;

			& h1 {
				font-size: 34px;
				color: var(--Black);
			}

			& h2 {
				color: var(--Black);
			}

			& button {
				font-size: 1.25em;
				padding: .75em 1.35em;
			}

			& .woocommerce-product-gallery {
				display: none;
			}

			& .product-addon h3 {
				display: block;
				padding: .5em 0 0;
				font-size: 14px !important;
				font-family: Roboto Light, sans-serif !important;
				color: var(--Tertiary) !important;

				& abbr[title] {
					text-decoration: none;
				}
			}

			& .product_meta {
				display: none;
			}
		}
	}
}

.woocommerce #content div.product div.summary,
.woocommerce div.product div.summary,
.woocommerce-page #content div.product div.summary,
.woocommerce-page div.product div.summary {
	width: 100%;
}

.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	background-color: var(--Secondary);

	&:hover,
	&:focus,
	&.is-hover {
		background-color: var(--SecondaryHover);
	}
}

.woocommerce-message {
	display: none;
}

.woocommerce ul.order_details li:before {
	display: none;
}

.wc-item-meta {
	column-count: 1;
}

.woocommerce-additional-fields {
	display: none;
}

#payment {
	margin-top: 2em;
}

.wc_payment_method {
	&.payment_method_sagepaymentsusaapi:before {
		display: none;
	}

	& label {
		width: 100%;
	}

	& img {
		margin: 0 8px;
		float: right;
	}

}

#payment_method_sagepaymentsusaapi {
	display: none;
}

.payment_box.payment_method_sagepaymentsusaapi {
	margin-top: 1em;
}

.form-row label abbr[title] {
	text-decoration: none;
}

.woocommerce-checkout-review-order-table {
	& thead {
		display: none;
	}

	& .product-quantity {
		display: none;
	}

	& .cart-subtotal {
		display: none;
	}
}