/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE SERVICES TEMPLATE

\*----------------------------------------------------------------*/
.page-template-services {
	& .main-content-block {
		& p:first-child {
			font-size: 22px;

			@media(--laptop) {
				font-size: 28px;
			}
		}
	}

	& #line-fill-behind {
		position: absolute;
		top: 28rem;
		left: 6rem;
		height: 2000px;
		display: none;
		transform: rotate(8deg);

		@media(--laptop) {
			display: block;
		}

		& .line-dots {
			stroke: #e6e8ea;
			stroke-miterlimit: 10;
			fill: #fff;
			stroke-width: 4px;
		}
	}

	& #line-fill {
		position: absolute;
		top: 28rem;
		left: 6rem;
		height: 2000px;
		z-index: 2;
		display: none;
		transform: rotate(8deg);

		@media(--laptop) {
			display: block;
		}

		& .line-dots {
			stroke: #C7995E;
			stroke-miterlimit: 10;
			fill: #fff;
			stroke-width: 4px;
		}
	}

	& .swipe {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding-bottom: 1em;

		& p {
			font-size: 16px;
			color: var(--DarkGrey);
			padding: 0 2em;

			@media(--laptop) {
				display: none;
			}
		}

		& .prev,
		& .next {
			width: 40px;

			@media(--laptop) {
				display: none;
			}
		}

		& .next {
			transform: scaleX(-1);
		}
	}

	& .services-slider {
		@media(--laptop) {
			height: 2500px;
		}
	}

	& .services-card {
		width: 100%;
		padding: 2em 4em;

		@media(--laptop) {
			width: 40%;
			margin: 2rem auto 8rem;
			padding: 0;
			position: absolute;
		}

		&:nth-child(1) {
			@media(--laptop) {
				top: 22.5rem;
				left: 21rem;
			}
		}

		&:nth-child(2) {
			@media(--laptop) {
				top: 52.5rem;
				left: 24rem;
			}
		}

		&:nth-child(3) {
			@media(--laptop) {
				top: 85.8rem;
				left: 33rem;
			}
		}

		&:nth-child(4) {
			@media(--laptop) {
				top: 116.6rem;
				left: 37rem;
			}
		}

		&:nth-child(5) {
			@media(--laptop) {
				top: 149.8rem;
				left: 42rem;
			}
		}
	}

	& .slick-slider {
		padding-top: 120px;

		& .slick-prev {
			position: absolute;
			top: 80px;
			left: 2em;
			background-color: transparent;
			border: 1px solid var(--Tertiary);
			color: var(--Tertiary);

			&:hover,
			&:focus {
				background-color: var(--Tertiary);
				color: var(--White);
			}

			&.slick-disabled {
				display: none !important;
			}
		}

		& .slick-next {
			position: absolute;
			top: 80px;
			right: 2em;
			background-color: transparent;
			border: 1px solid var(--Tertiary);
			color: var(--Tertiary);

			&:hover,
			&:focus {
				background-color: var(--Tertiary);
				color: var(--White);
			}

			&.slick-disabled {
				display: none !important;
			}
		}

		& .slick-dots {
			position: absolute;
			top: 0;
			width: calc(100% - 4em);
			display: flex;
			justify-content: space-between;
			margin: 0 2em;

			&:before {
				content: '';
				position: absolute;
				top: 5px;
				background: var(--Grey);
				height: 5px;
				width: 100%;
			}

			& li {
				width: auto;
				padding-left: initial;
				text-align: center;
				display: flex;
				position: initial;

				&:before {
					content: '';
					position: absolute;
					top: 5px;
					left: 0;
					background: var(--Secondary);
					height: 5px;
					width: 0;
					border-radius: 0;
					transition: all .35s linear;
				}

				&:first-of-type {
					& button {
						border: 4px solid var(--Secondary);
					}

					&.slick-active {
						&~li button {
							border: 4px solid var(--Grey);
						}
					}
				}

				&:nth-of-type(2) {
					& button {
						border: 4px solid var(--Secondary);
					}

					&.slick-active {
						&~li button {
							border: 4px solid var(--Grey);
						}
					}
				}

				&:nth-of-type(3) {
					& button {
						border: 4px solid var(--Secondary);
					}

					&.slick-active {
						&~li button {
							border: 4px solid var(--Grey);
						}
					}
				}

				&:nth-of-type(4) {
					& button {
						border: 4px solid var(--Secondary);
					}

					&.slick-active {
						&~li button {
							border: 4px solid var(--Grey);
						}
					}
				}

				&.slick-active {
					&:first-of-type {
						&:before {
							display: none;
						}
					}

					&:nth-of-type(2) {
						&:before {
							width: 25%;
						}
					}

					&:nth-of-type(3) {
						&:before {
							width: 50%;
						}
					}

					&:nth-of-type(4) {
						&:before {
							width: 75%;
						}
					}

					&:nth-of-type(5) {
						&:before {
							width: 100%;
						}
					}

					& button {
						border: 4px solid var(--Secondary);
						box-shadow: 0 0 0 var(--Secondary);
						animation: pulse 2s 1;
					}
				}

				& button {
					font-size: 0;
					width: 16px;
					height: 16px;
					border: 4px solid var(--Grey);
					background-color: var(--White);
					z-index: 2;

					&:hover,
					&:focus {
						box-shadow: 0 0 0 var(--Secondary);
						animation: pulse 2s 1;
					}
				}
			}
		}
	}

	& .needs {
		display: flex;
		flex-wrap: wrap;

		& div {
			width: 100%;

			@media(--tablet) {
				width: 50%;
			}

			&:first-child {
				width: 100%;
			}

			&:nth-child(2) {
				padding-right: 0;

				@media(--tablet) {
					padding-right: 1.5em;
				}
			}

			&:nth-child(3) {
				padding-left: 0;

				@media(--tablet) {
					padding-left: 1.5em;
				}
			}
		}
	}
}