/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE SINGLE BLOG POST 

\*----------------------------------------------------------------*/
.single-post .page-title {
	background-color: transparent;
	min-height: 0;

	&>section {
		padding: 8em 3vw 2em;
	}

	& h1 {
		color: var(--PrimaryLight);
		font-size: 40px !important;
		margin: .25em 0;
	}
}

.post-meta {
	&>* {
		display: inline-block;
		vertical-align: top;
	}

	& img {
		border-radius: 50%;
		border: 2px solid var(--Grey);
		height: 3em;
		width: 3em;
		margin-top: .25em;
		margin-right: .75em;
		vertical-align: middle;
	}

	& p {
		margin: 0;
		font-size: .875em;
		color: var(--Grey);

		&:first-of-type {
			font-size: 1em;
			color: var(--Black);
		}
	}
}

section.featured-img {
	position: relative;
	z-index: 2;
	padding-left: 0;
	padding-right: 0;

	& img {
		width: 100%;
		height: auto;
	}
}

ul.post-tags {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	font-size: 14px;
	margin: 64px 0 0 0;

	& li {
		width: auto;
		padding-left: 0;
		padding-right: .5em;
		color: var(--Primary);

		&:before {
			display: none;
		}
	}
}

#comments {
	padding: 0 3vw;
	max-width: var(--Width);
	margin: 0 auto;
}

h2.related {
	text-align: center;
	margin-bottom: 0;
}

.related-wrap {
	background-color: var(--White);
	margin-bottom: 6em;

	& #content-helpful {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		& h3 {
			text-align: center;
			width: 100%;
		}

		&.is_hidden {
			display: none;
		}

		&.is_visible {
			display: flex;
		}

		& .gfield_checkbox {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			& li {
				width: auto;
				margin: 0 2em;
			}
		}
	}

	& #content-helpful-form {
		display: none;

		&.is_visible {
			display: block;
		}

		& h3 {
			text-align: center;
		}

		& form ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			&.gfield_checkbox li {
				flex-wrap: nowrap;
			}
		}

		& .gf_left_half,
		& .gf_right_half {
			width: 48%;
			margin: 0 1%;
		}

		& label span {
			display: none;
		}

		& .gform_footer {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;

			& button {
				margin-top: 2em;
				font-size: 1.25em;
				padding: .75em 1.35em;
			}
		}
	}

	& #content-helpful-related {
		display: none;

		&.is_visible {
			display: block;
		}

		&.is_hidden {
			display: none;
		}

		& p:first-of-type {
			text-align: center;
		}

		& p.has-date {
			text-align: left;
		}

		& button {
			background-color: transparent;
			border: none;
			margin: 0;
			padding: 0;
			font-family: 'Roboto Bold', sans-serif;
			color: var(--Primary);
			text-transform: none;

			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}
}