/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE SINGLE TEAM MEMBER

\*----------------------------------------------------------------*/
.single-teammember {
	& .block {
		display: flex;
		flex-wrap: wrap;

		& .blocks {
			&:last-of-type {
				padding-top: 3rem;

				@media(--tablet) {
					padding-top: 1rem;
					padding-left: 28rem;
				}
			}

			& img {
				max-width: 250px;

				@media(--tablet) {
					position: absolute;
					top: 5rem;
					left: 3vw;
					max-width: 400px;
				}
			}

			& h1 {
				font-size: 46px;
			}

			& h3 {
				margin-bottom: .5em;
			}
		}
	}

	& .main-content-block {
		padding-bottom: 0;

		@media(--tablet) {
			padding-top: 10rem;
		}

		& blockquote {
			margin: 2em;

			@media(--phone) {
				margin: 4em 4em 2em;
			}
		}
	}

	& .get-to-know {
		display: flex;
		flex-wrap: wrap;

		@media(--phone) {
			flex-wrap: nowrap;
		}

		& div {
			&:first-of-type {
				margin-right: 0;
				margin-bottom: 3em;

				@media(--phone) {
					margin-right: 2rem;
				}
			}

			&:last-of-type {
				width: 100%;

				@media(--phone) {
					width: 80%;
				}
			}

			& img {
				box-shadow: 0 4px 12px 0 rgba(13, 30, 50, 0.3);
			}

			& h2 {
				margin-top: 0;
			}
		}
	}

	& .button-section {
		padding-bottom: 5em;
	}
}