/*-----------------------------------------
    LAYOUT
-----------------------------------------*/
.styleguide-container {
	display: flex;
	flex-wrap: wrap;
	max-width: 90vw;
	margin: 0 auto;

	&>.block {
		width: 90vw;
		padding: 0;

		& .styleguide-section {
			margin-top: 4rem;
			margin-bottom: 4rem;
		}
	}
}

.styleguide-section {
	&>h2 {
		margin-top: 8vh;
	}
}

;

/*-----------------------------------------
    COLORS
-----------------------------------------*/
.colors {
	display: flex;
	flex-wrap: wrap;

	&>p:first-child {
		width: 100%;
		margin: 3vh 0;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}

.color {
	width: 50%;
	margin: 0;

	@media (--tablet) {
		width: 20%;
	}

	& .color-swatch {
		border-radius: 16px;
		width: calc(100% - 20px);
		height: 100px;
		margin: 10px;
		position: relative;
		text-decoration: none;
		display: flex;
		justify-content: center;
		align-items: center;

		&::after {
			content: '';
			position: absolute;
			width: calc(100% + 8px);
			height: calc(100% + 8px);
			left: -4px;
			top: -4px;
			background: var(--White);
			border-radius: 16px;
			box-shadow: 0 2px 10px rgba(0, 67, 115, .2);
			z-index: -1;
		}

		&>p {
			margin: 0;
			opacity: 0;
			background: color(var(--White) alpha(50%));
			padding: .5em;
		}

		&.copied>p {
			opacity: 1;
		}
	}

	& .color-details {
		margin-top: 1rem;

		& p {
			text-transform: uppercase;
			margin: 0 0 .5em 0;
			padding-left: .75em;
			font-size: .75em;

			& span {
				color: var(--Black);
				margin-left: .75em;

				@media (--tablet) {
					display: block;
				}

				@media (--phone) {
					display: inline-block;
				}
			}
		}
	}
}

.colors:nth-of-type(1) {
	& .color:nth-of-type(1) .color-swatch {
		background-color: var(--Primary);
	}

	& .color:nth-of-type(2) .color-swatch {
		background-color: var(--PrimaryLight);
	}

	& .color:nth-of-type(3) .color-swatch {
		background-color: var(--Secondary);
	}

	& .color:nth-of-type(4) .color-swatch {
		background-color: var(--Tertiary);
	}

	& .color:nth-of-type(5) .color-swatch {
		background-color: var(--Fourth);
	}
}

/*-----------------------------------------
    FONTS
-----------------------------------------*/
.fonts {
	display: flex;
	flex-wrap: wrap;
}

.font {
	width: 50%;
	border-radius: 50%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	@media (--tablet) {
		width: 25%;
	}

	&:nth-of-type(1)>.block p {
		font-family: 'Roboto Slab', serif;
	}

	&:nth-of-type(2)>.block p {
		font-family: 'Roboto Thin', sans-serif;
	}

	&:nth-of-type(3)>.block p {
		font-family: 'Roboto Light', sans-serif;
	}

	&:nth-of-type(4)>.block p {
		font-family: 'Roboto Bold', sans-serif;
	}

	&>.block {
		width: 100%;

		& p {
			font-size: 2.5rem;
			margin: 0;
			text-align: center;

			@media (--laptop) {
				font-size: 5rem;
			}

			@media (--tablet) {
				font-size: 3rem !important;
			}
		}

		& p:first-child,
		& p:last-child {
			font-size: .75rem;
			line-height: 1;

			@media (--laptop) {
				font-size: 1.5rem;
			}

			@media (--tablet) {
				font-size: .75rem !important;
			}
		}
	}
}

/*-----------------------------------------
    TYPOGRAPHY
-----------------------------------------*/
.typography {
	&>p:first-child {
		width: 100%;
		margin: 4vh 0 1vh 0;
		letter-spacing: 1px;
		text-transform: uppercase;
	}

	&>h1,
	&>h2,
	&>h3,
	&>h4,
	&>h5,
	&>p {
		margin: 0;
	}
}

/*-----------------------------------------
    LOGOS
-----------------------------------------*/
.logos {
	display: flex;
	flex-wrap: wrap;
}

.logo {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 90vw;
	height: 200px;
	box-shadow: 0 2px 10px rgba(0, 67, 115, .2);
	border-radius: 10px;
}

/*-----------------------------------------
    ICONS
-----------------------------------------*/
.icons {
	display: flex;
	flex-wrap: wrap;
}

.icon {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 5vw;
	height: 5vw;
	margin-right: 2vw;
	margin-bottom: 2vw;
	box-shadow: 0 2px 10px rgba(0, 67, 115, .2);
	border-radius: 10px;

	@media (--desktop) {
		width: 11.6vw;
		height: 11.6vw;
		margin-right: 4vw;
		margin-bottom: 4vw;
	}

	@media (--tablet) {
		width: 19.5vw !important;
		height: 19.5vw !important;
		margin-right: 4vw;
		margin-bottom: 4vw;

		&:nth-child(6n) {
			margin-right: 4vw;
		}

		&:nth-child(4n) {
			margin-right: 0vw;
		}
	}

	&:nth-child(6n) {
		margin-right: 0;
	}

	& a {
		width: 5vw;
		height: 5vw;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (--tablet) {
			width: 10vw;
			height: 10vw;
		}

		& svg,
		& img {
			height: 75%;
			width: auto;
		}
	}
}

/*-----------------------------------------
    IMAGERY
-----------------------------------------*/
.images {
	display: flex;
	flex-wrap: wrap;
}

.image {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	width: 40vw;
	height: 22vw;
	margin-right: 0;
	margin-bottom: 2vw;
	box-shadow: 0 2px 10px rgba(0, 67, 115, .2);
	border-radius: 10px;
	background-size: cover;
	background-position: center;

	@media (--desktop) {
		width: 90vw;
		height: 44vw;
	}

	@media (--tablet) {
		width: 85vw;
		height: 45vw;
		margin-bottom: 4vw;
	}
}

/*-----------------------------------------
    BUTTONS
-----------------------------------------*/
.buttons {
	&>p:first-child {
		width: 100%;
		margin: 3vh 0 1.25vh;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}

/*-----------------------------------------
    LISTS
-----------------------------------------*/
.lists {
	display: flex;
	flex-wrap: wrap;
}

.list {
	width: 100%;
}

/*-----------------------------------------
    POST PREVIEWS
-----------------------------------------*/
.posts {
	display: flex;
	flex-wrap: wrap;

	&>p:first-child {
		width: 100%;
		margin: 20px 0 0 0;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}