/*----------------------------------------------------------------*\

	STYLES SPECIFIC TO THE TOOLS TEMPLATE

\*----------------------------------------------------------------*/
.page-template-tools {
	& .main-content-block {
		& p:first-child {
			font-size: 22px;

			@media(--laptop) {
				font-size: 28px;
			}
		}
	}

	& .split {
		display: flex;
		flex-wrap: wrap;

		& .symbol-lookup {
			width: 100%;
			margin-bottom: 2em;

			@media(--tablet) {
				width: 50%;
			}

			& h2 {
				@media(--tablet) {
					margin-top: 0;
				}
			}
		}

		& .download-app {
			width: 100%;
			margin-bottom: 2em;
			background-color: var(--White);
			box-shadow: 0 4px 12px 0 rgba(13, 30, 50, 0.3);
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-content: center;
			text-align: center;
			padding: 2em;

			@media(--tablet) {
				width: 50%;
			}

			& svg {
				width: 80px;
				height: 80px;
			}

			& h3 {
				width: 100%;
				margin: 1em 0 0;
			}

			& p {
				line-height: 1.8;
			}

			& a {
				width: 100%;
				height: 60px;
				margin-bottom: 1em;

				@media(--phone) {
					width: 50%;
					margin-bottom: 0;
				}

				& img {
					height: 60px;
				}
			}
		}

		& .resources {
			width: 100%;

			@media(--tablet) {
				width: 50%;
			}

			& h2 {
				margin-top: 0;
			}

			& p a {
				font-family: 'Roboto Slab', serif;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				z-index: 2;
				position: relative;

				& svg {
					width: 18px;
					height: 20px;
					margin-right: .8em;
				}
			}
		}

		& .container {
			box-shadow: none;
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			padding: 0;

			& #search {
				margin-bottom: 2em;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;

				& label {
					width: 100%;
					text-align: left;
				}

				& input {
					background-image: none;
					width: calc(100% - 130px);
				}
			}

			& .header {
				width: 100%;
				margin-bottom: 1em;
				opacity: 1;
				height: auto;
				transition: all .5s linear;

				&.hidden {
					opacity: 0;
					height: 0;
				}

				& .stock {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					color: var(--Tertiary);
					font-family: 'Roboto Slab', serif;
					font-size: 18px;

					& .price {
						font-family: 'Roboto Light', sans-serif;
					}

					& .change {
						font-family: 'Roboto Bold', sans-serif;
					}
				}
			}

			& #stockChart {
				width: 100%;
				padding-bottom: 1em;
				border-bottom: 1px solid #979797;
				margin-bottom: 1em;
				opacity: 1;
				height: auto;
				transition: all .5s linear;

				&.hidden {
					opacity: 0;
					height: 0;
				}

				& iframe {
					width: 100%;
				}
			}

			& .indices {
				width: 100%;
				margin-bottom: 1em;

				& .stock {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					color: var(--Tertiary);
					font-family: 'Roboto Slab', serif;
					font-size: 18px;
					padding-bottom: 1em;
					border-bottom: 1px solid #979797;
					margin-bottom: 1em;

					& .price {
						font-family: 'Roboto Light', sans-serif;
					}

					& .change {
						font-family: 'Roboto Bold', sans-serif;
					}
				}
			}

			& .lastUpdated {
				width: 100%;
				font-family: 'Roboto Light', san-serif;
				font-size: 14px;
				opacity: 1;
				height: auto;
				transition: all .5s linear;

				&.hidden {
					opacity: 0;
					height: 0;
				}
			}
		}
	}

	& .resources {
		& p a {
			font-family: 'Roboto Slab', serif;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			z-index: 2;
			position: relative;

			& svg {
				width: 18px;
				height: 20px;
				margin-right: .8em;
			}
		}
	}

	& .videos {
		display: flex;
		flex-wrap: wrap;

		& div {
			width: 100%;
			margin-bottom: 2em;

			@media(--tablet) {
				width: 50%;
				padding-right: 2vw;
			}

			&:nth-of-type(2n) {
				@media(--tablet) {
					padding-right: 0;
					padding-left: 2vw;
				}
			}

			& button {
				background-color: transparent;
				border: none;
				border-radius: initial;
				padding: 0;
				margin: 0;
				position: relative;

				& img {
					width: 100%;
				}

				& span {
					position: absolute;
					top: calc(50% - 24px);
					left: calc(50% - 24px);
					width: 48px;
					height: 48px;
					background-color: var(--Fourth);
					border-radius: 50%;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					z-index: 3;

					& svg {
						width: 19px;
						height: 22px;
						fill: var(--Secondary);
						padding-left: 3px;
					}
				}

				& .overlay {
					background-color: rgba(13, 30, 50, 0.6);
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					width: 100%;
					height: 100%;
					z-index: 2;
				}
			}

			& .button {
				margin-top: 2em;
			}
		}
	}

	& .cards {
		display: flex;
		flex-wrap: wrap;

		&>div {
			width: 100%;
			margin-bottom: 2em;

			@media(--tablet) {
				width: 50%;
				padding-right: 2vw;
			}

			&:nth-child(even) {
				@media(--tablet) {
					padding-right: 0;
					padding-left: 2vw;
				}
			}

			& img {
				width: 88px;
			}

			& h2 {
				margin: .5em 0 0;
			}
		}
	}

	& .seminars {
		display: flex;
		flex-wrap: wrap;

		& div {
			width: 100%;
			margin-bottom: 2em;

			@media(--tablet) {
				width: 50%;
				padding-right: 2vw;
			}

			&:nth-child(odd) {
				@media(--tablet) {
					padding-right: 0;
					padding-left: 2vw;
				}
			}

			& img {
				width: 88px;
			}

			& h2 {
				margin: .5em 0 0;
			}

			& h3 {
				color: var(--Primary);
			}

			& p a {
				font-family: 'Roboto Slab', serif;
				display: flex;
				flex-wrap: wrap;
				align-items: center;

				& svg {
					width: 18px;
					height: 20px;
					margin-right: .8em;
				}
			}
		}
	}

	& .section-links {
		& p a {
			font-family: 'Roboto Slab', serif;
			display: flex;
			flex-wrap: wrap;
			align-items: center;

			& svg {
				width: 18px;
				height: 20px;
				margin-right: .8em;
			}
		}
	}
}