#calendar {
	position: relative;
	overflow: hidden;
	text-transform: capitalize;
	text-align: center;
	font: 15px/1em inherit;
	font-family: 'Roboto Light', sans-serif;

	& .over {
		width: 95%;
		height: 95%;
		padding: 1em;
		margin: auto;
		display: block;
		position: absolute;
		top: 5px;
		left: 20px;
		background-color: var(--White);
		display: none;
		text-align: left;
		z-index: 9999;
		font-size: 16px;
		box-shadow: 0 4px 12px 0 rgba(13, 30, 50, .3);
	}

	& .over h1 {
		font-size: 20px;
		margin: 0;
		color: var(--Primary);
	}

	& .over p {
		font-size: 16px;
		color: var(--Black);
	}

	& .over h2 {
		color: var(--Primary);
		font-size: 20px;
		margin: .5em 0;
		font-family: 'Roboto Light', sans-serif;
		padding-left: 2rem;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 2px;
			left: 0;
			height: 16px;
			width: 16px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 1rem;
			background-image: url(../images/clock-icon.svg);
		}
	}

	& .over h3 {
		color: var(--Black);
		font-family: 'Roboto Slab', serif;
		font-size: 14px;
		line-height: 1.5;
		margin: .5em 0;
		padding-left: 2rem;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 2px;
			left: 0;
			height: 16px;
			width: 16px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 1rem;
			background-image: url(../images/map-marker-icon.svg);
		}
	}

	& .close {
		display: block;
		height: 20px;
		width: 20px;
		color: var(--Black);
		font-size: 14px;
		text-decoration: none;
		padding: 3px;
		position: absolute;
		top: 0;
		right: -4px;
	}

	& a {
		text-decoration: none;
		color: inherit;
		cursor: pointer;
	}

	& .ui-datepicker-title {
		position: absolute;
		top: -4px;
		left: 0;

		& span {
			color: var(--Tertiary);
			font-family: 'Roboto Slab', serif;
			font-size: 24px;
		}
	}

	& .ui-datepicker-month {
		color: var(--Tertiary);
		font-family: 'Roboto Slab', serif;
		font-size: 24px;
	}

	& .ui-datepicker-year {
		color: var(--Tertiary);
		font-family: 'Roboto Slab', serif;
		font-size: 24px;
	}

	& .ui-datepicker-next,
	& .ui-datepicker-prev {
		display: none;
	}

	& #prev {
		display: inline-block;
		position: absolute;
		top: 12rem;
		text-align: center;
		border-radius: 0;
		background-color: transparent;
		border: none;
		padding: 0;
		margin: 0;
		left: 0;
		transform: scaleX(-1);

		& svg {
			width: 40px;
			height: 40px;
		}
	}

	& #next {
		display: inline-block;
		position: absolute;
		top: 12rem;
		text-align: center;
		border-radius: 0;
		background-color: transparent;
		border: none;
		padding: 0;
		margin: 0;
		right: 0;

		& svg {
			width: 40px;
			height: 40px;
		}
	}

	& table {
		width: 80%;
		margin: 4em auto 0;
		border-spacing: 0px;
		background-color: var(--White);
		border-collapse: separate;
	}

	& thead {
		font-size: 1.2em;
		text-align: center;
	}

	& td {
		padding: .8em;
		text-align: center;
		width: 50px;
		height: 50px;
		position: relative;
	}

	& td.highlight:before {
		content: "";
		border: 3px solid var(--Secondary);
		border-radius: 50%;
		position: absolute;
		width: 40px;
		height: 40px;
		top: 4px;
		left: calc(50% - 20px);
	}
}