/*----------------------------------------------------------------*\
		NAVIGATION
\*----------------------------------------------------------------*/
nav {
	display: flex;

	& ul {
		padding: 0;
		margin: 0;
		display: inline-flex;
		justify-content: space-between;
		align-items: center;

		& li {
			list-style: none;

			&.active a {
				color: var(--Secondary);
			}

			& a {
				display: block;
				padding: 0.5em 1.5em;
				text-decoration: none;
				color: var(--White);
				font-size: 16px;
				transition: all .35s linear;
				font-family: 'Roboto Slab', serif;

				&:hover,
				&:focus,
				&.active {
					color: var(--Secondary);
				}

				&:active {
					color: var(--Secondary);
				}
			}

			&.current_page_item a,
			&.current-page-ancestor a {
				color: var(--Secondary);
			}
		}
	}
}

/*----------------------------------------------------------------*\
		HAS DROPDOWN MODIFIER
\*----------------------------------------------------------------*/
nav {
	position: relative;
	z-index: 10;

	& ul li.menu-item-has-children {
		position: relative;

		&:hover,
		&:focus {
			ul.sub-menu {
				opacity: 1;
				top: 100%;
			}
		}

		& ul.sub-menu {
			display: block;
			position: absolute;
			width: 200%;
			max-width: 200px;
			opacity: 0;
			top: calc(100% - 10px);
			transition: all .35s linear;

			& li {
				& a {
					display: block;
					background: var(--Primary);
					color: var(--White);

					&:hover,
					&:focus {
						background-color: color(var(--Primary) shade(20%));
					}

					&:active {
						background-color: color(var(--Primary) shade(40%));
					}
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
		STACKED MODIFIER
\*----------------------------------------------------------------*/
nav.is-stacked {
	& ul {
		display: block;
		max-width: 200px;
	}
}

/*----------------------------------------------------------------*\
		SEARCH FORM
\*----------------------------------------------------------------*/
#search-button {
	width: 100%;
	text-align: left;
	background: transparent;
	border: transparent;
	display: none;

	& svg {
		width: 16px;
		height: 16px;
		display: inline-block;
	}

	@media(--laptop) {
		display: inline-block;
		width: auto;
		order: 3;
	}
}

#search-form {
	width: 100%;
	margin: 20px 20px 0;

	@media(--laptop) {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		position: absolute;
		right: 0;
		bottom: 0;
		width: 0;
		height: 100%;
		padding: 0;
		background-color: transparent;
		opacity: 0;
		overflow: hidden;
		z-index: 10;
		transition: all .35s linear;
		margin: 0;
	}

	&.is-active {
		width: 100%;
		opacity: 1;
	}

	& form {
		margin: 0;
		width: 100%;

		@media(--laptop) {
			width: 540px;
		}

		& label {
			display: none;
		}

		& input {
			padding: 1em;
			padding-right: calc(1em + 20px);
			background-image: url(../images/search-icon.svg);
			background-repeat: no-repeat;
			background-position: center right 1em;
			background-size: 1.25em;

			@media(--laptop) {
				background-image: none;
			}

			&.is-activated,
			&.LV_valid_field {
				background-image: url(../images/search-icon.svg);

				@media(--laptop) {
					background-image: none;
				}
			}
		}

		& button {
			display: none;
		}
	}

	& #search-close {
		margin: 0;
		background-color: var(--Primary);
		border-color: var(--Primary);
		border-radius: 0;
		height: 55px;
		display: flex;
		align-items: center;
		display: none;

		@media(--laptop) {
			position: initial;
			margin: 0;
			display: inline-block;
		}

		& span {
			display: block;

			@media(--laptop) {
				display: none;
			}
		}

		& svg {
			width: 25px;
			height: 25px;
			display: none;

			@media(--laptop) {
				display: inline-block;
			}
		}
	}
}

#login-button {
	background: transparent;
	border: none;
	color: var(--White);
	text-transform: none;
	text-decoration: none;
	display: flex;
	align-items: center;
	margin: 0;
	padding: 0;
	font-family: 'Roboto Light', sans-serif;
	font-size: 14px;
	height: 40px;

	@media(--laptop) {
		width: auto;
		margin: .25em .25em .25em 0;
		padding: .5em 1em;
		padding-right: 0;
		order: 3;
		font-size: 16px;
		height: auto;
		font-family: 'Roboto Thin', sans-serif;
	}

	&:hover,
	&:focus,
	&.active {
		color: var(--Secondary);
		text-decoration: none;
	}
}

#desktop-search {
	display: none;

	@media(--laptop) {
		display: block;
	}
}

#mobile-search {
	display: block;

	@media(--laptop) {
		display: none;
	}
}

/*----------------------------------------------------------------*\
		PRIMARY NAVIGATION
\*----------------------------------------------------------------*/
.navigation-block {
	padding: 1em;
	background-color: transparent;
	width: 100%;
	position: relative;
	z-index: 1000;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	transition: all .35s linear;

	@media(--phone) {
		padding: 1em 2em;
	}

	@media(--laptop) {
		padding: 1em;
	}

	@media(--desktop) {
		padding: 1em 4em;
	}

	& svg {
		& use {
			fill: var(--White);
		}
	}

	&.is_stuck {
		position: fixed;
		top: 0;
		background-color: var(--White);
		box-shadow: 0 4px 12px 0 rgba(13, 30, 50, 0.3);

		&>a {
			& svg {
				& use {
					fill: var(--Tertiary);
				}
			}
		}

		&>nav {
			& ul {
				& li {
					&.active a {
						color: var(--Primary);
					}

					& a {
						color: var(--Tertiary);

						&:hover,
						&:focus,
						&.active {
							color: var(--Primary);
						}
					}
				}
			}
		}

		& #search-button {
			& svg {
				& use {
					fill: var(--Tertiary);
				}
			}
		}

		& #login-button {
			color: var(--Tertiary);
			font-family: 'Roboto Light', sans-serif;

			&:hover,
			&:focus,
			&.active {
				color: var(--Primary);
			}
		}

		& .hamburger-menu,
		& .hamburger-menu:after,
		& .hamburger-menu:before {
			background-color: var(--Tertiary);
		}

		& .hamburger-menu {
			&.is-active {
				background-color: rgba(255, 255, 255, 0);
			}
		}
	}

	&>a {
		display: flex;
		align-items: center;
		float: left;
		order: 2;
		position: relative;

		@media(--laptop) {
			float: none;
			order: 1;
		}

		& svg {
			height: 39px;
			width: 138px;
			position: absolute;
			top: 0;
			left: calc(50% - 53px);

			@media(--laptop) {
				height: 55px;
				width: 195px;
				position: inherit;
				left: 0;
			}
		}
	}

	&>nav {
		position: fixed;
		flex-wrap: wrap;
		align-content: flex-start;
		top: 0;
		right: 0;
		transform: translateX(200%);
		height: 100vh;
		width: 80vw;
		transition: all .35s ease-in-out;

		&.is-active {
			transform: translateX(0);
			background-color: #F7F9FC;
			box-shadow: -4px 0px 12px 0 rgba(13, 30, 50, .3);

			& ul {
				& li {
					width: 100%;

					& a {
						color: var(--Tertiary);
						padding: .5em 1em;
						font-size: 20px;
						line-height: 1.5;
					}
				}
			}

			& .button {
				margin: 10px 20px;
			}

			& h3 {
				color: var(--Tertiary);
				padding: .5em 1em;
				font-size: 20px;
				font-weight: 100;
				margin: 0;
				width: 100%;

				& a {
					text-decoration: none;
					color: var(--Primary);
				}
			}

			& p {
				font-family: 'Roboto Slab', serif;
				margin: 10px 20px;
				width: 100%;

				& a {
					display: block;
					text-decoration: none;
					color: var(--Primary);
				}
			}

			& .close {
				display: block;
				background: transparent;
				position: fixed;
				top: 0;
				left: -30vw;
				width: 30vw;
				height: 100vh;
			}
		}

		& ul {
			flex-wrap: wrap;
			display: flex;

			& li {
				width: auto;
				padding-left: inherit;
				margin-bottom: 0;

				&:before {
					display: none;
				}

				@media(--laptop) {
					text-align: center;
				}

				& a {
					width: 100%;

					&:hover,
					&:focus,
					&.active {
						text-decoration: none;
					}
				}
			}
		}

		& .button {
			@media(--laptop) {
				display: none;
			}
		}

		& h3 {
			@media(--laptop) {
				display: none;
			}
		}

		& p {
			@media(--laptop) {
				display: none;
			}
		}

		& .mobile-nav {
			display: block;
			width: 100%;

			& button {
				background: transparent;
				border: transparent;
				color: var(--Secondary);
				text-transform: none;
			}

			@media(--laptop) {
				display: none;
			}
		}

		@media(--laptop) {
			position: relative;
			transform: none;
			padding: 0;
			box-shadow: none;
			height: auto;
			width: auto;
			flex-wrap: nowrap;
			order: 2;
			flex-grow: 2;
			display: flex;
			justify-content: flex-end;
			align-content: center;

			ul {
				flex-wrap: nowrap;
				display: flex;

				& li {
					& a {
						line-height: 75px;
					}
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
		UTILITY NAVIGATION
\*----------------------------------------------------------------*/
.utility-block {
	display: none;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 1em;
	height: 40px;
	background-color: var(--Primary);
	color: var(--White);
	text-align: center;
	z-index: 2500;
	width: 100%;

	@media(--laptop) {
		display: flex;
	}

	& a {
		color: var(--White);
		text-decoration: none;
		font-size: 16px;
		line-height: 20px;
		font-family: 'Roboto Bold', sans-serif;
	}

	& .event-area {
		width: 100%;
		display: none;
		align-items: center;
		flex-wrap: wrap;

		& p {
			margin: 0;
			line-height: 1.6;
			color: var(--White);
		}

		& h3 {
			margin: 0;
			margin-right: 1em;
			font-size: 16px;
			line-height: 1.4;
		}

		@media(--laptop) {
			width: auto;
			display: flex;
		}
	}

	& .phone-block {
		display: flex;
		align-items: center;
		width: 100%;

		& h3 {
			margin: 0;
			margin-right: 1em;
			font-size: 16px;
		}

		& a {
			font-family: 'Roboto Slab', serif;
		}

		@media(--laptop) {
			width: auto;
		}
	}
}

/*----------------------------------------------------------------*\
		STACKED MODIFIER
\*----------------------------------------------------------------*/
nav.page-nav {
	max-width: var(--Width);
	margin: -30px auto 30px auto;
	padding: 0 3vw;
	flex-wrap: wrap;
	position: relative;
	z-index: 2;

	@media(--desktop) {
		padding: 0;
	}

	& .button {
		margin-right: .75em;
	}
}

/*----------------------------------------------------------------*\
		HAMBURGER MENU
\*----------------------------------------------------------------*/
.hamburger-menu,
.hamburger-menu:after,
.hamburger-menu:before {
	width: 27px;
	height: 3px;
}

.hamburger-menu:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 8px;
	background: var(--White);
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu:after {
	content: "";
	position: absolute;
	left: 0;
	top: 8px;
	background: var(--White);
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu {
	display: block;
	position: relative;
	z-index: 11;
	top: 8px;
	background: var(--White);
	transition: all 0ms 300ms;
	float: right;
	margin-top: 10px;
	order: 1;

	@media(--laptop) {
		display: none
	}
}

.hamburger-menu.is-active {
	background-color: rgba(255, 255, 255, 0);
}

.hamburger-menu.is-active:after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.is-active:before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}