/*----------------------------------------------------------------*\
	CARDS
\*----------------------------------------------------------------*/
.preview-post:not(.event-preview) {
	& .categories:first-child+p.has-date {
		margin-top: 80px;
	}
}

.preview-post {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	flex-direction: column;
	position: relative;
	overflow: hidden;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 10px 18px 0 rgba(13, 30, 50, 0.3);
	transition: all .35s linear;

	&:hover,
	&:focus {
		transform: translateY(-10px);
	}

	& .button {
		margin-bottom: 1rem;
	}

	& .categories {
		position: absolute;
		top: 1em;
		left: 1em;
	}

	& .has-date {
		color: var(--Primary);
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 0;
		flex: none;
	}

	& h1 {
		color: var(--Tertiary);
		font-size: 24px;
	}

	& h3 {
		color: var(--Tertiary);
		font-size: 16px;
		font-family: 'Roboto Light', sans-serif;
		margin-bottom: 0;
	}

	&>a {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	& p {
		flex: auto;
	}

	& .featured-image {
		margin-top: 0;
		overflow: hidden;
		max-height: 150px;

		& img {
			width: 100%;
			display: block;
			transition: all .5s ease-in-out;
		}
	}

	& .is-padded {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	& .buttons {
		margin-top: 1.5em;
	}

	&:hover,
	&:focus {

		& .button,
		& button {
			border-color: var(--Tertiary);
			background-color: var(--Tertiary);
			color: var(--White);
		}

		& img {
			transform: scale(1.1);
		}
	}
}

.search {
	& .preview-post {
		margin-bottom: 2em;
	}

	& #menu-primary-navigation li.active a {
		color: var(--White);
	}

	& .navigation-block.is_stuck>nav #menu-primary-navigation li.active a {
		color: var(--Tertiary);
	}

	& #search-form-no-results {
		& form {
			margin: 0;

			& label {
				display: none;
			}

			& input {
				margin-bottom: 1em;
			}
		}
	}
}