/*----------------------------------------------------------------*\
	TEAM CARDS
\*----------------------------------------------------------------*/
section {
	&.team {
		& .preview-post {
			box-shadow: 0 4px 12px 0 rgba(13, 30, 50, 0.3);
			text-align: center;

			&:hover,
			&:focus {
				& .featured-image img {
					&:first-child {
						opacity: 0;
					}

					&:last-child {
						opacity: 1;
					}
				}
			}

			& .featured-image {
				position: relative;
				height: 170px;
				max-height: inherit;
				width: 100%;

				@media(--phone) {
					height: 220px;
				}

				@media(--tablet) {
					height: 360px;
				}

				@media(--laptop) {
					height: 220px;
				}

				@media(--desktop) {
					height: 260px;
				}

				& img {
					opacity: 1;
					position: absolute;

					&:last-child {
						opacity: 0;
					}
				}
			}

			& h1 {
				font-size: 20px;
			}

			& p {
				font-size: 16px;
				color: var(--Black);
			}

			& .links {
				margin-top: .5em;

				& a {
					position: relative;
					z-index: 2;

					& svg {
						margin: 0 1em;
					}
				}
			}
		}
	}
}