/*----------------------------------------------------------------*\
	EVENT CARDS
\*----------------------------------------------------------------*/
.preview-post.event-preview {
	padding: 2em 1em;
	box-shadow: none;
	border-bottom: 1px solid var(--Black);
	overflow: inherit;
	width: 90%;
	margin: 0 auto;

	@media(--desktop) {
		width: 100%;
	}

	&:hover,
	&:focus {
		transform: none;

		& .button {
			border-color: var(--Secondary);
			background-color: var(--Secondary);
			color: var(--Tertiary);
		}
	}

	& .categories {
		position: initial;
		margin-top: 0;

		& a {
			font-size: 14px;
			font-family: 'Roboto Slab', serif;
		}
	}

	& .has-date {
		color: var(--Black);
		font-size: 16px;
		font-weight: 300;
		margin: .5em 0;
	}

	& h1 {
		font-size: 20px;
		margin: 0;
	}

	& .subheader {
		font-size: 16px;
		color: var(--Black);
	}

	& h2 {
		color: var(--Primary);
		font-size: 20px;
		margin: .5em 0;
		font-family: 'Roboto Light', sans-serif;
		padding-left: 2rem;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 2px;
			left: 0;
			height: 16px;
			width: 16px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 1rem;
			background-image: url(../images/clock-icon.svg);
		}
	}

	& h3 {
		color: var(--Black);
		opacity: .4;
		font-family: 'Roboto Slab', serif;
		font-size: 14px;
		line-height: 1.5;
		margin: .5em 0;
		padding-left: 2rem;
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 2px;
			left: 0;
			height: 16px;
			width: 16px;
			background-repeat: no-repeat;
			background-position: center;
			background-size: 1rem;
			background-image: url(../images/map-marker-icon.svg);
		}
	}

	& .buttons {
		margin-top: .5em;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		& .button {
			color: var(--Tertiary);

			&:hover,
			&:focus {
				border-color: var(--Tertiary);
				background-color: var(--Tertiary);
				color: var(--White);
			}
		}

		& .addeventatc {
			font-family: 'Roboto Slab', serif;
			color: var(--Secondary) !important;
			font-size: 14px;
			padding: 0;
			border: none;
			border-radius: 0;
			text-shadow: none;
			outline-color: transparent;
			box-shadow: none !important;
			z-index: 1 !important;
			background: transparent;
			padding-left: 1.5rem;
			margin: 1em 0;

			&:before {
				content: '';
				position: absolute;
				top: -2px;
				left: 0;
				height: 16px;
				width: 16px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: 1rem;
				background-image: url(../images/add-to-calendar-icon.svg);
			}

			&:hover,
			&:focus {
				background-color: transparent !important;
				text-decoration: underline;
			}

			& .addeventatc_icon {
				display: none;
			}

			& .addeventatc_dropdown {

				& .copyx,
				& .ateappleical,
				& .ateoutlook {
					display: none;
				}
			}
		}
	}
}

.featured-event {
	& h3 {
		margin-top: 0;
	}

	& .preview-post.event-preview {
		background-color: rgba(13, 30, 50, 0.1);
		padding: 1em 1em 2em;
		border-bottom: none;

		& .categories {
			& a {
				color: var(--Black);
				font-family: 'Roboto Slab', serif;
			}
		}

		& h2 {
			color: var(--Black);
		}

		& h3 {
			opacity: 1;
		}
	}
}